<%- include('./template/header.ejs') %>
<section class="home">
    <h1>Ken Belajar</h1>
    <h2>BLOG</h2>
    <p>Sebuah blog ringan tentang pemrograman.</p>
    <p>Berikut ini adalah beberapa pengetahuan yang akan saya bagikan.</p>
    <a href="/articles">Mulai membaca</a>
</section>
<%- include('./template/footer.ejs') %>